html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

html {
	padding: 0em;
	background: #000 url('../imgs/bigarmyofbots.jpg');
	background-attachment: fixed;
	background-position: top center;
}

body {
	font-family: Neucha, Helvetica, sans-serif;
	color: #999;
	padding: 0em;
	text-shadow: 1px 1px 1px #000;
}

img {
	border: 2px sold #000;
}

/*#basket {
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}*/

#wrapper {
  background-color: #fefefe;
  border: 1px solid #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: 10px 20px;
  color: #555;
  clear: both;
  -webkit-box-shadow: 4px 4px 3px #2e2e2e;
  -mozkit-box-shadow: 4px 4px 3px #2e2e2e;
  box-shadow: 4px 4px 3px #2e2e2e;
}
#wrapper a#header {
  text-decoration: none;
}
#wrapper .center, #wrapper .download {
  display: block;
  text-align: center;
}
#wrapper h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 173px;
  background-image: url(/images/dropnode-medium.png);
  text-indent: -6000px;
}

#wrapper h3 {
  font-size: 1.4em;
  font-weight: normal;
  color: #0e0e0e;
}

#wrapper .navlink {
  float: right;
  display: block;
  padding: 5px;
}

#logo {
  margin-bottom: -50px;
  margin-left: -20px;
  text-align: left;
}

#basket {
  border: 1px solid #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  min-height: 500px;
  margin: 30px 10px;
  overflow: hidden;
}

#basket .bit {
  position: absolute;
  margin: 5px;
  width: 50px;
  overflow: hidden;
}

#basket .bit a {
  display:block;
  color: #0e0e0e;
  font-size: 0.9em;
  text-decoration: none;
}

#basket p {
  display: block;
}
#basket h2 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 80px 10px;
  color: #ccc;
}
#basket.above {
  background-color: #5B9234;
}
#basket.above h2 {
  color: #fefefe;
}

#basket.around {
  background-color: #99FF66;
  border: 1px solid #006600;
}
#basket.hilight {
  border: 1px solid #000;
  font-weight: bold;
}
input#shortenedUrlDisplay {
  font-size: 0.8em;
}

#filelist {
  font-size: 1.5em;
}